.search
	color: #fff

	&__cont
		color: #fff

.main
	.search
		&__cont
			background-color: var(--mainColor)


.inner
	.search
		padding: 30px 50px
		background-color: var(--mainColor)
		border-radius: 5px

	.support-variant__input-cont
		padding: 0