.selectize
	&-control
		position: relative

	&-input
		cursor: pointer
		
		input
			display: none

.selectize-dropdown
	position: absolute
	top: 100%
	left: 0
	background-color: #fff
	z-index: 100
	border-radius: 0 0 5px 5px

	&-content
		border-radius: 0 0 5px 5px

.option
	padding: 5px 45px
	transition: background .3s ease
	cursor: pointer

	&:hover
		background-color: var(--backgroundColor)

