<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Центр поддержки предпринимательства
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.wrapper
				.content
					.title-block__cont
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									span.bread-crumbs__this Центр поддержки предпринимательства
							.title-block__title
								h1 Центр поддержки предпринимательства
					.content-main-cont
						.content-main
							.subjects-inner
								.subjects-inner__list 
									each subjects, i in ['Общие сведения о центре поддержки предпринимательства', 'Перечень предоставляемых центром поддержки предпринимательства услуг, стоимость и порядок их предоставления', 'Перечень вебинаров, круглых столов, конференций, форумов, семинаров, иных публичных мероприятий, проводимых центром поддержки предпринимательства', 'Программа (стратегия, концепция) развития центра поддержки предпринимательства на среднесрочный (не менее трех лет) плановый период и план работы ЦПП на очередной год', 'Годовые отчеты о проведенных мероприятиях в рамках деятельности центра поддержки предпринимательства ']
										.subjects-inner__item 
											.subjects-inner__title=subjects
											.subjects-inner__btns 
												a.search-link(href="#" target="_blank")
												a.download-link(href="#" download target="_blank")

								.load-more 
									a.btn.btn-load(href="#") Показать еще

		include inc/footer.pug
		include inc/scripts.pug